.card_article#article-show{data: {article_id: @article.id}}
  .card_article_photo
    - if @article.photos.attached?
      - @article.photos.each do |photo|
        = image_tag photo
        -# .card_article_title
        -#   = @article.title
        -# .card_article_content
        -#   = @article.content
  .card_article_reaction
    - if user_signed_in? && current_user.has_liked?(@article)
      .card_article_reaction_heart{ id: @article.id, class: 'active-heart' }
        = image_tag 'heart-active.svg'
      .card_article_reaction_heart.hidden{ id: @article.id, class: 'inactive-heart' }
        = image_tag 'heart.svg'
    - else
      .card_article_reaction_heart.hidden{ id: @article.id, class: 'active-heart' }
        = image_tag 'heart-active.svg'
      .card_article_reaction_heart{ id: @article.id, class: 'inactive-heart' }
        = image_tag 'heart.svg'

    .card_article_reaction_share
      = link_to "https://twitter.com/share?url=#{request.url}&text=insta" do
        = image_tag 'share.png'

  - if @article.user === current_user
    .card_article_edit
      = link_to 'edit', edit_article_path(@article)
    .card_article_delete
      = link_to 'delete', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか' }

  .comments
    %h2 Comment
    .comments-container
  .container
    -# .btn-secondary.show-comment-form
    -#   = image_tag 'comment.png'
  .comment-text-area
    = text_area_tag :comment_content, '', class: 'sm'
    .btn-secondary.add-comment-button
      add comment
  = javascript_pack_tag 'article'