.container
  .article_new
    = link_to new_article_path do
      .float_btn
        = image_tag 'camera.png'
    - articles.each do |article|
      -# .article-show{id: "article-show#{article.id}"}
      .article-show{data: {article_id: article.id}}
        = link_to article_path(article) do
          = render 'commons/article', article: article

= javascript_pack_tag 'article'