.profile
  .profile_name
    = user.display_name
  -# .profile_image
  -#   =image_tag user.avatar_image, class: 'profile_avatar'
.profile_image_container
  = form_with(model: @profile, url: profile_path, method: 'put') do |f|
    -# = f.label
    -# #img_field{:onclick => "$('#file').click()"}
    = image_tag user.avatar_image, class: 'profile_avatar'
    -# = f.file_field :avatar, class: "image", id: "file"
    = f.file_field :avatar, class: "image", style: "display:none;", id: "file"
    = f.submit '保存', class: 'btn-secondary', id: 'file-btn'

-# =link_to edit_profile_path, class: 'profile_image' do
-# %input.profile_avatar{:type => "file"}/
-# %button.avatar_button{:type => "submit"} 送信する
-# %script{:src => "./profile.js"}

.count_container
  %ul
    %li.count_posts
      %p 44
      %p Posts
    -# %span= user.article_count
    %li.count_followers
      %p 110
      %p Followers
    %li.count_following
      %p 44
      %p Following

.grid
  .grid_item_big1
    = image_tag 'Rectangle (1).png', class: 'grid-item'
  .grid_item_2
    = image_tag 'Rectangle (2).png', class: 'grid-item'
  .grid_item_3
    = image_tag 'Rectangle (3).png', class: 'grid-item'
  .grid_item_4
    = image_tag 'Rectangle (4).png', class: 'grid-item'
  .grid_item_5
    = image_tag 'Rectangle (5).png', class: 'grid-item'
  .grid_item_big6
    = image_tag 'Rectangle (6).png', class: 'grid-item'

  -# = current_user.articles.each do |article|
  -#   = render 'commons/article', article: article