.login-image
  = image_tag 'Rectangle.png'
  = Time.now
.login-form
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :Email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
    .field
      = f.label :Password
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'text'
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Login", class: 'btn-primary'
  = render "devise/shared/links"
