!!!
%html
  %head
    -# %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/¥
    %title InstaApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header_back
        - if !current_page?(root_path)
          = link_to :back do
            = image_tag 'backbutton.png', class: "header_back"
      .header_logout
        %p.notice= notice
        %p.alert= alert
        - if user_signed_in?
          = link_to 'ログアウト', destroy_user_session_path, data: {method: 'delete' }
.header_body
  = yield

/ jQueryのライブラリー本体を読み込む
%script{:src => "https://code.jquery.com/jquery-3.4.1.js"}
/ 必ずjQuery本体を読み込んだ後にjQueryで書いたファイルを読み込む
%script{:src => "js/application.js"}